div.container {
  a {
    text-decoration: none;
    color: unset;

    mat-card {
      padding: 10px;
      width: 110px;
      height: 110px;
    }

    * {
      display: block;
      text-align: center;
    }

    mat-icon {
      color: var(--primary);
      margin-bottom: 12px;
      width: 100%;
      height: 35px;
      font-size: 35px;
    }
  }

  a:hover {
    mat-card {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      transition: box-shadow 0.2s ease-in-out;
    }
  }

  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
