.sidenav {
  height: 100%;
  width: 200px;
  background: #efefef;
  display: flex;
  flex-direction: column;

  a:first-child {
    margin-top: 10px;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 10px 10px 10px 20px;
    color: unset;

    span {
      padding-left: 10px;
    }
  }

  a:hover {
    background-color: #b7b7b7;
  }

  a.active {
    background-color: #c5c5c5;
  }
}

.container {
  width: 100vw;
  height: calc(100vh - 56px);
}

.drawer-content {
  overflow-y: scroll;
}

@media screen and (min-width: 1035px) {
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 599px) {
  .container {
    height: calc(100vh - 64px);
  }
}
