<mat-toolbar color="primary">
  <button mat-icon-button class="menu-button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Webagrocentre</span>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer #sidenav [mode]="window.innerWidth >= 1035 ? 'side' : 'over'" [opened]="window.innerWidth >= 1035">
    <nav class="sidenav" (click)="handleSidenavAlwayOpen()">
      <a routerLinkActive="active" routerLink="frigate">
        <mat-icon>videocam</mat-icon>
        <span>Frigate</span>
      </a>
      <a routerLinkActive="active" routerLink="vnc-optical-sorter">
        <mat-icon>cast</mat-icon>
        <span>Trilleur optique</span>
      </a>
    </nav>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
